body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: lightgrey;
}

h1 {
    font-family: Arial;
    font-size: 32px;
}

p {
    font-family: Arial;
    font-size: 16px;
}

h3 {
    font-family: Arial;
    font-size: 20px;
}

.lesson_para {
    background-color: darkgrey;
    margin-left: 40px;
}

#parital {
    font-style: italic;
}

figcaption {
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

footer {
    text-align: right;
}

section {
    padding: 30px 10px;
}

header {
    margin-left: 40px;
}

header p {
    margin-left: 40px;
}

#endpara {
    margin-left: 40px;
}
